<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>{{site.title}} | {{page.title}}</title>
    <link rel='stylesheet' href='//cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/mark.css" />
	<link rel="stylesheet" href="{{site.baseurl}}/assets/css/custom.css" />
    <link href='https://fonts.googleapis.com/css?family=Space Mono' rel='stylesheet'>
</head>
